.header {
    background: $off-white;
    color: $grey;
    margin-bottom: $m-size;
    padding: $m-size 0;

}

.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $grey;
    font-size: $m-size;
    font-weight: 400;
    margin: 0;
}

// m-size 4 small; xl-size for large

@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
}