// Colors

$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$off-black: #20222b;
$off-white: #F5F4F2;
$grey: #8c898b;
$purple: #9476DB;
$dark-purple: #4E3E73;
$green: #97c728;
$dark-green: #7CA321;
$orange: #D67462;


// Font Sizes

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;